# Telegram
TELEGRAM_TOKEN=tu_token_aqui

# Gemini
GEMINI_API_KEY=tu_key_aqui

# Notion
NOTION_TOKEN=tu_token_aqui
NOTION_TICKETS_DB=tu_database_id_aqui
NOTION_DETALLE_DB=tu_database_id_aqui
NOTION_INGRESOS_DB=tu_database_id_aqui